@namespace Client.Pages.User
@layout UserLayout
@page "/user/login"

<div class="main__b__0">
    <div>
        <h3>SashaFPV</h3>
        <h3>sasha_fpv@example.com</h3>
        <h3>SashaFPV_123</h3>
    </div>
    <div class="login">
        <Form Model="@_userToSignIn" OnFinish="SignInUser">
            <FormItem>
                <AntDesign.Input Placeholder="Username" Size="large" @bind-Value="@_userToSignIn.UserName">
                    <Prefix><Icon Type="user" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <FormItem>
                <AntDesign.Input Placeholder="Email" Size="large" @bind-Value="@_userToSignIn.EmailAdress" Type="email">
                    <Prefix><Icon Type="mail" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <FormItem>
                <AntDesign.Input Placeholder="Password" Size="large" @bind-Value="@_userToSignIn.Password" Type="password">
                    <Prefix><Icon Type="lock" /></Prefix>
                </AntDesign.Input>
            </FormItem>
            <Button Type="primary" HtmlType="submit" Class="submit" Size="large" Block>Log in </Button>
            <div class="other">
                <a class="register" href="/user/register">Register Account</a>
            </div>
        </Form>
    </div>
</div>