@namespace Client.Pages.Dashboard.Analysis
@inherits AntDomComponentBase

<Card>
    <CardTabs>
        <div class="salesCard">
            <Row>
                <AntDesign.Col Xl="14" Lg="12" Md="12" Sm="24" Xs="24" Style="text-align:center; padding:40px">
                            <h1>
                                Welcome to Smart Cooker! 
                            </h1>
                            <br/>
                            <h3>On our website you can check what types of dishes exist and what you can do with products you have.</h3>
                </AntDesign.Col>
                <AntDesign.Col Xl="10" Lg="12" Md="12" Sm="24" Xs="24">
                    <img alt="Borsch" src="main_photo_borsch.png" style="width:100%" />
                </AntDesign.Col>
            </Row>
        </div>
    </CardTabs>
</Card>
