@namespace Client.Pages.Dashboard.Analysis
@inherits AntDomComponentBase

<Card>
    <CardTabs>
        <div class="salesCard">
            <Row>
                <AntDesign.Col Xl="14" Lg="12" Md="12" Sm="24" Xs="24" Style="display: flex; justify-content: center; align-items: center;">
                        <h1 style="align-self:center; font-size:20pt">
                            Welcome to Smart Cooker! 
                            <br />
                            On our website you can check what types of dishes exist and what you can do with products you have.
                            <br/>
                            <a href="https://war.ukraine.ua/support-ukraine/" style="font-size:23pt">SAVE LIVES, SUPPORT UKRAINE</a> 🇺🇦
                        </h1>
                </AntDesign.Col>
                <AntDesign.Col Xl="10" Lg="12" Md="12" Sm="24" Xs="24">
                    <img alt="Borsch" src="main_photo_borsch.png" style="width:100%" />
                </AntDesign.Col>
            </Row>
        </div>
    </CardTabs>
</Card>
